* {
	font-family: "Poppins";
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: lightgrey;
	--main-color: rgb(12, 12, 12);
	--light-color: lightgrey;
	--dark-primary: rgb(59, 59, 59);
}

button {
	transition: 0.1s;
}

button:active {
	transform: scale(0.98);
}
